body {
  background-color: #f9fafb;
  scroll-behavior: smooth;
}
.auth{
  background-image: url('assets/bgsv.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the background image */
}

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  margin: 0;
  min-height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
